<div id="clock">
    <p class="date">{{pad-string year 4 '0'}}-{{pad-string month 2 '0'}}-{{pad-string day 2 '0'}}</p>
    <p class="time">{{pad-string hours 2 '0'}}:{{pad-string minutes 2 '0'}}:{{pad-string seconds 2 '0'}}</p>
</div>