<div id="clock">
    <p class="time {{if isStopped 'stopped'}}">{{pad-string hours 2 '0'}}:{{pad-string minutes 2 '0'}}:{{pad-string seconds 2 '0'}}</p>
    {{#if isStopped}}
        <button class="start" {{action "start"}}>Start</button>
    {{else}}
        <button class="stop" {{action "stop"}}>Stop</button>
    {{/if}}
    <button class="reset" {{action "reset"}}>Reset</button>
</div>